<include file="./Template/Public/header.html" />
<include file="./Template/Public/navbar.html" />

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-10 col-sm-6 col-md-4 col-xs-offset-1 col-sm-offset-3 col-md-offset-4">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#login-card" aria-controls="home" role="tab" data-toggle="tab">会员登录</a></li>
                <li role="presentation"><a href="#login-phone" aria-controls="profile" role="tab" data-toggle="tab">一般用户登录</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content ca-tab-content">
                <div role="tabpanel" class="tab-pane active" id="login-card">
                    <div class="alert alert-danger ca-wrong-message" role="alert"></div>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="login-card-number" placeholder="请输入您的会员卡卡号">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="password" class="form-control" id="login-card-password" placeholder="请输入您的会员卡密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-primary btn-block" id="login-card-btn" url="__APP__/Home/Login/login_card">会员登录</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div role="tabpanel" class="tab-pane" id="login-phone">
                    <div class="alert alert-danger ca-wrong-message" role="alert"></div>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="login-phone-number" placeholder="请输入您的用户号">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="password" class="form-control" id="login-phone-password" placeholder="请输入您的登录密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-primary btn-block" id="login-phone-btn" url="__APP__/Home/Login/login_phone">一般用户登录</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <br/>
            <p>
                <span>还没有账号？<a href="__APP__/Home/Login/type">快速注册</a></span>
            </p>
        </div>
    </div>
</div>


<include file="./Template/Public/footer.html" />