<include file="./Template/Home/Common/header.html" />
<include file="./Template/Home/Common/navbar.html" />


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-10 col-sm-8 col-md-6 col-xs-offset-1 col-sm-offset-2 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">请选择注册类型</h3>
                </div>
                <div class="panel-body">
                    <p>
                        <ul>
                            <li>如果您有会员卡，请选择“会员注册”；如果您没有会员卡，请选择“一般用户注册”</li>
                            <li>非会员可以做两个评测，并且不能够预约咨询师</li>
                            <li>会员可以做全部评测，并且能够预约咨询师</li>
                        </ul>
                    </p>
                    <p class="pull-right">
                        <a class="btn btn-info" href="__APP__/Home/Sign/index" role="button">会员注册</a>
                        <a class="btn btn-info" href="__APP__/Home/Signup/index" role="button">一般用户注册</a>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>


<include file="./Template/Home/Common/footer.html" />