</div>
<!-- /#wrapper -->




<!-- Bootstrap Core JavaScript -->
<script src="__PUBLIC__/utils/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="__PUBLIC__/utils/metisMenu/dist/metisMenu.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="__PUBLIC__/utils/raphael/raphael-min.js"></script>
<!--<script src="__PUBLIC__/utils/morrisjs/morris.min.js"></script>-->
<!--<script src="__PUBLIC__/custom/js/morris-data.js"></script>-->

<!-- Custom Theme JavaScript -->
<script src="__PUBLIC__/custom/js/sb-admin-2.js"></script>

</body>

</html>
