<include file="./Template/Home/Common/header.html" />
<include file="./Template/Home/Common/navbar.html" />



<div class="container ca-margin-top">
    <div class="row">
        <div class="col-xs-10 col-sm-3 col-xs-offset-1 col-sm-offset-0">
            <div class="thumbnail">
                <img src="__ROOT__/Uploads/{$appoint.avatar}" alt="{$appoint.name}">
                <div class="caption">
                    <h4>{$appoint.name} <small> {$appoint.city}</small></h4>
                    <p>
                        <small>专业程度 {$appoint.professional_score}</small>
                        <br>
                        <small>服务态度 {$appoint.attitude_score}</small>
                    </p>
                    <p>
                        {$appoint.introduction}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-10 col-sm-9 col-xs-offset-1 col-sm-offset-0">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">预约规则</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>每天最多预约{$appoint.time_per_day}次</li>
                        <li>每次预约最多能选择{$appoint.number_per_appoint}个待确定的时间段</li>
                        <li>每个月总预约次数不超过{$appoint.number_per_month}次</li>
                    </ul>
                </div>
            </div>

            <div>
                <p class="text-muted">请点击选择预约时间</p>
            </div>
            <div>
                {$html}
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-6">
                    <button type="button" class="form-control btn-primary" id="home-btn-appoint" data-url="{$url}"> 预约</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 隐藏元素，用来保存可预约时间与预约表 -->
<div class="ca-hide">
    <div id="time-free-time">{$appoint.free_time}</div>
    <!--<div id="time-appoint-name">{$teacher.appoint_name}</div>-->
</div>



<!--<script src="__PUBLIC__/custom/js/appoint.js"></script>-->


<script type="text/javascript">
//TODO 将提示改为bootstrap的弹出框模式
    // 预约
    $(document).ready(function () {

        initialize();

        /**
         * 页面初始化
         */
        function initialize() {
            appoint_time_inilialize();
            click_to_appoint();
            appoint();
        }


        /**
         * 预约时间表初始化
         */
        function appoint_time_inilialize() {

            var freeTime = $('#time-free-time').text();
            var freeTimeArray = freeTime.split(',');
            $caTdTime = $('td.ca-td-time');
            //$('#time-free-time');
            $caTdTime.each(function () {
                for (var i in freeTimeArray) {
                    if ($(this).attr('value') == freeTimeArray[i]) {
                        $(this).removeClass('ca-no-free-time').addClass('ca-can-appoint');
                        $(this).text('可预约');
                    }
                }
            });

            var $noFreeTime = $('.ca-no-free-time');
            $noFreeTime.each(function () {
                $(this).removeClass('ca-no-free-time').addClass('ca-cannot-appoint');
            });
        }


        /**
         * 选择预约时间
         */
        function click_to_appoint() {
            $('.ca-can-appoint').click(function () {
                // $(this).addClass('ca-appoint');
                //$('.ca-can-appoint').not(this).each(function () {
                //  if ($(this).hasClass('ca-appoint')) {
                //    $(this).removeClass('ca-appoint');
                //  }
                //});
                if ($(this).hasClass('ca-appoint')) {
                    $(this).removeClass('ca-appoint');
                } else {
                    var length = $('.ca-appoint').length;
                    console.log(length);
                    if (length >= '{$appoint.number_per_appoint}') {
                        alert('每次预约最多能选择{$appoint.number_per_appoint}个待确定的时间段');
                    } else {
                        $(this).addClass('ca-appoint');
                    }
                }

            });
        }


        /**
         * 预约
         */
        function appoint() {
            $('#home-btn-appoint').click(function () {
                //console.log('a');
                var type = $('#nav-user').attr('data-type');
                //console.log(type);
                if (type == 1) {
                    var $timeElemt = $('.ca-appoint');
                    var time = '';
                    $timeElemt.each(function () {
                        var val = $(this).attr('value');
                        time += val + ',';
                    });
                    //console.log(time);
                    //var time = $('.ca-appoint').attr('value');

                    if (time.length > 0) {
                        time = time.substring(0, time.length -1);
                        var url = $(this).attr('data-url');
                        var teacher_id = '{$appoint.account_id}';
                        var user_id = '{$Think.session.id}';
                        console.log(teacher_id);
                        console.log(user_id);
                        var data = {
                            'teacher_id': teacher_id,
                            'user_id': user_id,
                            'time': time
                        };
                        console.log(data);
                        $.post(url, data, function (result) {
                            console.log(result);
                            if (result.status == 0) {
                                alert('预约成功');
                                //location.reload();
                                location.href = result.url;
                            } else {
                                alert('预约失败，请重试');
                                //location.reload();
                            }
                        });

                    } else {
                        alert('请选择预约时间');
                    }
                } else {
                    alert('请您先登录后再预约');
                    window.location.href = $('#login').attr('href');
                }
            });
        }

    });


</script>


<include file="./Template/Home/Common/footer.html" />