<include file="./Template/Home/Common/header.html" />
<include file="./Template/Home/Common/navbar.html" />



<div class="container ca-margin-top">
    <div class="row">
        <div class="col-xs-10 col-sm-offset-1">
            <div class="jumbotron">
                <h1>支付成功！</h1>
                <p>请在约定时间到约定地点进行咨询。</p>
                <p>点击查看预约详情。</p>
                <p>
                    <a class="btn btn-primary btn-lg" href="__APP__/Home/Index/index" role="button">返回首页</a>
                    <a class="btn btn-primary btn-lg" href="__APP__/Admin/User/index" role="button">个人中心</a>
                </p>
            </div>
        </div>
    </div>
</div>


<include file="./Template/Home/Common/footer.html" />