<include file="./Template/Home/Common/header.html" />
<include file="./Template/Home/Common/navbar.html" />


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-10 col-sm-8 col-md-6 col-xs-offset-1 col-sm-offset-2 col-md-offset-3">
            <!--<h3>咨询师/讲师注册</h3>-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">基本个人信息(2/4)</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" id="signup-teacherinfo-panel" action="__APP__/Home/Complete/teacher" method="post" enctype="multipart/form-data">
                        <present name="error">
                            <div class="alert alert-danger" role="alert">{$error}</div>
                        </present>
                        <div class="form-group" id="signup-complete-panel">
                            <label for="up_img_WU_FILE_0" class="col-sm-3 control-label" style="margin-left: -15px;">个人照片</label>
                            <div class="col-sm-9 signup-complete-preview">
                                <input type="file" id="up_img_WU_FILE_0" name="avatar" required>
                                <span class="help-block">请上传至少200x200的高清个人照片</span>
                                <img class="ca-avatar" id="imgShow_WU_FILE_0" src="__PUBLIC__/picture/default_avatar.png" alt="个人照片">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="signup-teacherinfo-name" class="col-sm-3 control-label">姓名</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="name" id="signup-teacherinfo-name" placeholder="请输入您的真实姓名" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">性别</label>
                            <div class="col-sm-9" id="signup-teacherinfo-gender">
                                <label class="radio-inline">
                                    <input type="radio" name="gender" id="signup-teacherinfo-man" value="1" required> 男
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="gender" id="signup-teacherinfo-woman" value="2" required> 女
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="signup-teacherinfo-email" class="col-sm-3 control-label">邮箱</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" name="email" id="signup-teacherinfo-email" placeholder="请输入您的邮箱" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="signup-teacherinfo-city" class="col-sm-3 control-label">地点</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="city" id="signup-teacherinfo-city" placeholder="请选择您所在城市" required>
                            </div>
                        </div>
                        <div class="form-group" id="singnup-teacherinfo-form-service-type">
                            <label class="col-sm-3 control-label">服务类型</label>
                            <div class="col-sm-9">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" id="signup-teacherinfo-service-type-1" name="type_1" value="高中" checked> 高中
                                        </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" id="signup-teacherinfo-service-type-2" name="type_2" value="大学" checked> 大学
                                        </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" id="signup-teacherinfo-service-type-3" name="type_3" value="工作" checked> 工作
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-primary btn-block" id="singnup-teacherinfo-btn">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


<script src="__PUBLIC__/custom/js/city-select.js"></script>
<script src="__PUBLIC__/custom/js/upload-preview.js"></script>
<script>
    var test2=new Vcity.CitySelector({input:'signup-teacherinfo-city'});

    function file_click(){
        var WARP = document.getElementById('signup-complete-panel');
        var WARP_LI = WARP.getElementsByClassName('signup-complete-preview');
        for(var i=0; i<WARP_LI.length;i++){
            new uploadPreview({ UpBtn: "up_img_WU_FILE_"+i, ImgShow: "imgShow_WU_FILE_"+i});
        }
    }
    window.onload = file_click;
</script>
<include file="./Template/Home/Common/footer.html" />