<include file="./Template/Public/header.html" />
<include file="./Template/Public/navbar.html" />


<div class="container">
    <!--<div class="row">-->
        <!--<foreach name="data" item="vo" >-->
            <!--<div class="col-xs-6 col-sm-4 col-md-3">-->
                <!--<div class="thumbnail">-->
                    <!--<img src="__PUBLIC__/picture/default_avatar.png" alt="...">-->
                    <!--<div class="caption">-->
                        <!--<h3>咨询师</h3>-->
                        <!--<p>简介</p>-->
                        <!--<p><a href="#" class="btn btn-success btn-block" role="button">预约</a></p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</foreach>-->
    <!--</div>-->

    <div class="row">
        <div class="col-xs-12 col-md-7">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-6">
                            <img class="ca-teacher-img" src="__ROOT__/Uploads/{$data.teacherinfo.avatar}" alt="{$data.teacherinfo.name}">
                        </div>
                        <div class="col-xs-6">
                            姓名：{$data.teacherinfo.name}
                            <br>
                            性别：{$data.teacherinfo.gender}
                            <br>
                            评分：
                            <br>
                            城市：{$data.city}
                            <br>
                            <button type="button" class="btn btn-primary btn-sm navbar-btn">预约</button>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12 ca-teacher-introduction">

                        {$data.teacherinfo.introduction}

                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-5">

            <table class="table table-bordered" id="free-time-1">
                <thead>
                <tr>
                    <th>时间</th>
                    <th id="Monday">周一</th>
                    <th id="Tuesday">周二</th>
                    <th id="Wednesday">周三</th>
                    <th id="Thursday">周四</th>
                    <th id="Friday">周五</th>
                    <th id="Saturday">周六</th>
                    <th id="Sunday">周日</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">9:00-10:30</th>
                    <td class="ca-no-free-time">否</td>
                    <td class="ca-no-free-time">否</td>
                    <td class="ca-no-free-time">否</td>
                    <td class="ca-no-free-time">否</td>
                    <td class="ca-no-free-time">否</td>
                    <td class="ca-no-free-time">否</td>
                    <td class="ca-no-free-time">否</td>
                </tr>
                <tr>
                    <th scope="row">10:30-12:00</th>
                    <td class="ca-no-free-time">否</td>
                    <td class="ca-no-free-time">否</td>
                    <td class="ca-no-free-time">否</td>
                    <td class="ca-no-free-time">否</td>
                    <td class="ca-no-free-time">否</td>
                    <td class="ca-no-free-time">否</td>
                    <td class="ca-no-free-time">否</td>
                </tr>
                <tr>
                    <td colspan="7"></td>
                </tr>
                <tr>
                    <th scope="row">14:30-16:00</th>
                    <td class="ca-no-free-time">否</td>
                    <td class="ca-no-free-time">否</td>
                    <td class="ca-no-free-time">否</td>
                    <td class="ca-no-free-time">否</td>
                    <td class="ca-no-free-time">否</td>
                    <td class="ca-no-free-time">否</td>
                    <td class="ca-no-free-time">否</td>
                </tr>
                <tr>
                    <th scope="row">16:00-17:30</th>
                    <td class="ca-no-free-time">否</td>
                    <td class="ca-no-free-time">否</td>
                    <td class="ca-no-free-time">否</td>
                    <td class="ca-no-free-time">否</td>
                    <td class="ca-no-free-time">否</td>
                    <td class="ca-no-free-time">否</td>
                    <td class="ca-no-free-time">否</td>
                </tr>
                <tr>
                    <td colspan="7"></td>
                </tr>
                <tr>
                    <th scope="row">19:00-20:30</th>
                    <td class="ca-no-free-time">否</td>
                    <td class="ca-no-free-time">否</td>
                    <td class="ca-no-free-time">否</td>
                    <td class="ca-no-free-time">否</td>
                    <td class="ca-no-free-time">否</td>
                    <td class="ca-no-free-time">否</td>
                    <td class="ca-no-free-time">否</td>
                </tr>
                <tr>
                    <th scope="row">20:30-22:00</th>
                    <td class="ca-no-free-time">否</td>
                    <td class="ca-no-free-time">否</td>
                    <td class="ca-no-free-time">否</td>
                    <td class="ca-no-free-time">否</td>
                    <td class="ca-no-free-time">否</td>
                    <td class="ca-no-free-time">否</td>
                    <td class="ca-no-free-time">否</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<include file="./Template/Public/footer.html" />