<include file="./Template/Public/header.html" />
<include file="./Template/Public/navbar.html" />

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-10 col-sm-6 col-md-4 col-xs-offset-1 col-sm-offset-3 col-md-offset-4">
            <h3>会员注册</h3>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#sign-user-panel" aria-controls="home" role="tab" data-toggle="tab">来访者注册(1/2)</a></li>
                <li role="presentation"><a href="#sign-teacher-panel" aria-controls="profile" role="tab" data-toggle="tab">咨询师注册(1/3)</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content ca-tab-content">
                <div role="tabpanel" class="tab-pane active" id="sign-user-panel">
                    <div class="alert alert-danger ca-wrong-message" role="alert"></div>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="sign-user-phone" placeholder="请输入您的会员卡卡号">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="password" class="form-control" id="sign-user-password" placeholder="请输入您的会员卡密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-primary btn-block" id="sign-user-btn" url="__APP__/Home/sign/sign_user">来访者注册</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div role="tabpanel" class="tab-pane" id="sign-teacher-panel">
                    <div class="alert alert-danger ca-wrong-message" role="alert"></div>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="sign-teacher-phone" placeholder="请输入您的会员卡卡号">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="password" class="form-control" id="sign-teacher-password" placeholder="请输入您的会员卡密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-primary btn-block" id="sign-teacher-btn" url="__APP__/Home/sign/sign_teacher">咨询师注册</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <br/>
            <p id="sign-login-p">
                <span>已有账号？<a href="__APP__/Home/Login/index">登录</a></span>
            </p>
        </div>
    </div>
</div>


<include file="./Template/Public/footer.html" />