<include file="./Template/Home/Common/header.html" />
<include file="./Template/Home/Common/navbar.html" />

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-10 col-sm-6 col-md-4 col-xs-offset-1 col-sm-offset-3 col-md-offset-4">
            <h3>会员注册</h3>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation"><a href="#sign-user-panel" aria-controls="home" role="tab" data-toggle="tab">来访者注册</a></li>
                <li role="presentation" class="active"><a href="#sign-teacher-panel" aria-controls="profile" role="tab" data-toggle="tab">咨询师/讲师注册</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content ca-tab-content">
                <div role="tabpanel" class="tab-pane" id="sign-user-panel">
                    <present name="error">
                        <div class="alert alert-danger" role="alert">{$error}</div>
                    </present>
                    <form class="form-horizontal" action="__APP__/Home/Sign/index" method="post">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <present name="msg.card">
                                    <input type="text" class="form-control" name="card" placeholder="请输入您的会员卡卡号" value="{$msg.card}" required>
                                    <else />
                                    <input type="text" class="form-control" name="card" placeholder="请输入您的会员卡卡号" required>
                                </present>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <present name="msg.password">
                                    <input type="password" class="form-control" name="password" placeholder="请输入您的会员卡密码" value="{$msg.password}" required>
                                    <else />
                                    <input type="password" class="form-control" name="password" placeholder="请输入您的会员卡密码" required>
                                </present>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <present name="msg.phone">
                                    <input type="text" class="form-control" name="phone" placeholder="请输入您的手机号" value="{$msg.phone}" required>
                                    <else />
                                    <input type="text" class="form-control" name="phone" placeholder="请输入您的手机号" required>
                                </present>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="code" placeholder="请输入短信验证码" aria-describedby="user-btn-getsms" required>
                                    <span class="input-group-addon ca-btn-getsms" id="user-btn-getsms">获取验证码</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary btn-block" id="sign-user-btn">来访者注册</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div role="tabpanel" class="tab-pane active" id="sign-teacher-panel">
                    <present name="error">
                        <div class="alert alert-danger" role="alert">{$error}</div>
                    </present>
                    <form class="form-horizontal" action="__APP__/Home/Sign/teacher" method="post">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <present name="msg.card">
                                    <input type="text" class="form-control" name="card" placeholder="请输入您的会员卡卡号" value="{$msg.card}" required>
                                    <else />
                                    <input type="text" class="form-control" name="card" placeholder="请输入您的会员卡卡号" required>
                                </present>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <present name="msg.password">
                                    <input type="password" class="form-control" name="password" placeholder="请输入您的会员卡密码" value="{$msg.password}" required>
                                    <else />
                                    <input type="password" class="form-control" name="password" placeholder="请输入您的会员卡密码" required>
                                </present>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <present name="msg.phone">
                                    <input type="text" class="form-control" name="phone" placeholder="请输入您的手机号" value="{$msg.phone}" required>
                                    <else />
                                    <input type="text" class="form-control" name="phone" placeholder="请输入您的手机号" required>
                                </present>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="code" placeholder="请输入短信验证码" aria-describedby="teacher-btn-getsms" required>
                                    <span class="input-group-addon ca-btn-getsms" id="teacher-btn-getsms">获取验证码</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary btn-block" id="sign-teacher-btn">咨询师/讲师注册</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <br/>
            <p id="sign-login-p">
                <span>已有账号？<a href="__APP__/Home/Login/index">登录</a></span>
            </p>
        </div>
    </div>
</div>


<include file="./Template/Home/Common/footer.html" />