<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="__PUBLIC__/utils/jquery/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/utils/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/ueditor1_4_3-utf8-php/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/ueditor1_4_3-utf8-php/ueditor.all.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/ueditor1_4_3-utf8-php/lang/zh-cn/zh-cn.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script type="text/javascript" src="__PUBLIC__/utils/ie/ie10-viewport-bug-workaround.js"></script>
<script type="text/javascript" src="__PUBLIC__/custom/js/account.js"></script>
</body>
</html>
