<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="__PUBLIC__/logo/favicon.ico">

    <title>{$title}</title>

    <!-- Bootstrap core CSS -->
    <link href="__PUBLIC__/utils/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- fontawesome CSS -->
    <link href="__PUBLIC__/utils/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="__PUBLIC__/custom/css/style.css" rel="stylesheet">

    <script type="text/javascript" src="__PUBLIC__/utils/jquery/jquery-1.10.2.min.js"></script>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <!--<script src="__PUBLIC__/utils/ie/ie8-responsive-file-warning.js"></script>-->
    <![endif]-->
    <!--<script src="__PUBLIC__/utils/ie/ie-emulation-modes-warning.js"></script>-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="__PUBLIC__/utils/html5/html5shiv.min.js"></script>
    <script src="__PUBLIC__/utils/html5/respond.min.js"></script>
    <![endif]-->
</head>

<body>


