<include file="./Template/Admin/Common/teacher/header.html" />
<include file="./Template/Admin/Common/teacher/nav.html" />

<div id="page-wrapper">
    <div class="row">

        <div class="col-lg-12">
            <h4 class="page-header">
                <span class="label label-warning">1 填写基本资料</span>
                <span class="label label-warning">2 填写个人简介</span>
                <span class="label label-default">3 上传头像和证书</span>
                <span class="label label-default">4 添加话题</span>
            </h4>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-xs-10 col-sm-8 col-md-6">
            <form class="form-horizontal" action="__APP__/Admin/TeacherApply/apply_two" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="teacher-info-introduction" class="col-sm-3 control-label">个人简介</label>
                    <div class="col-sm-9">
                        <textarea id="teacher-info-introduction" class="form-control" rows="10" name="introduction">
                        <empty name="teacher.introduction">
                            {$teacher.introduction}
                        </eles>
                             请填写您的个人简介
                        </empty>
                        </textarea>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">下一步(2/4)</button>
            </form>
        </div>
    </div>
</div>
<!-- /#page-wrapper -->



<include file="./Template/Admin/Common/teacher/footer.html" />
<include file="./Template/Admin/Common/teacher/foot.html" />