<include file="./Template/Admin/Common/teacher/header.html" />
<include file="./Template/Admin/Common/teacher/nav.html" />

<div id="page-wrapper">
    <div class="row">

        <div class="col-lg-12">
            <h4 class="page-header">
                <span class="label label-warning">1 填写基本资料</span>
                <span class="label label-warning">2 填写个人简介</span>
                <span class="label label-warning">3 上传证书</span>
                <span class="label label-warning">4 添加话题</span>
                <span class="label label-warning">5 申请成功，等待审核</span>
                <span class="label label-default">6 审核通过</span>
            </h4>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-xs-10">
            <div class="jumbotron ca-apply-jumbotron">
                <h1>申请成功！</h1>
                <p>请耐心等待管理员审核，一般会在1～2个工作日内审核，核通过后即可接受来访者的预约。</p>
            </div>
        </div>
    </div>
</div>
<!-- /#page-wrapper -->



<include file="./Template/Admin/Common/teacher/footer.html" />
<include file="./Template/Admin/Common/teacher/foot.html" />