<include file="./Template/Admin/Common/teacher/header.html" />
<include file="./Template/Admin/Common/teacher/nav.html" />

<div id="page-wrapper">
    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">申请成为咨询师</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-xs-10 col-sm-8 col-md-6">
            <form class="form-horizontal">

                <div class="form-group">
                    <div class="col-sm-3 text-right">
                        姓名
                    </div>
                    <div class="col-sm-9">
                        <strong>{$teacher.name}</strong>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3 text-right">
                        性别
                    </div>
                    <div class="col-sm-9" id="teacher-info-gender">
                        {$teacher.gender}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-3 text-right">
                        职业
                    </div>
                    <div class="col-sm-9">
                        <strong>{$teacher.occupation}</strong>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-3 text-right">
                        邮箱
                    </div>
                    <div class="col-sm-9">
                        <strong>{$teacher.email}</strong>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-3 text-right">
                        城市
                    </div>
                    <div class="col-sm-9">
                        <strong>{$teacher.city}</strong>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-3 text-right">
                        咨询地点
                    </div>
                    <div class="col-sm-9">
                        <strong>{$teacher.appoint_location}</strong>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-3 text-right">
                        咨询费用
                    </div>
                    <div class="col-sm-9">
                        <strong>{$teacher.price}</strong>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-3 text-right">
                        服务类型
                    </div>
                    <div class="col-sm-9">
                        <strong>{$teacher.service_type}</strong>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-3 text-right">
                        服务对象
                    </div>
                    <div class="col-sm-9">
                        <strong>{$teacher.service_object}</strong>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-3 text-right">
                        个人简介
                    </div>
                    <div class="col-sm-9">
                        <strong>{$teacher.introduction}</strong>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-3 text-right">
                        证书
                    </div>
                    <div class="col-sm-9">
                        <foreach name="teacher.certificate_list" item="vo">
                            <p>
                                <span>{$vo.name}</span><br>
                                <img class="ca-teacher-profile-certificate" src="__ROOT__/Uploads/{$vo.picture}" alt="{$vo.name}">
                            </p>
                        </foreach>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-3 text-right">
                        话题
                    </div>
                    <div class="col-sm-9">
                        <foreach name="teacher.topic_list" item="vo">
                            <p>
                                <strong>{$vo.name}</strong>
                                <span>{$vo.content}</span>
                            </p>
                        </foreach>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-xs-10 col-sm-4 col-md-6">
            <empty name="teacher.avatar">
                <img class="ca-profile-img" src="__PUBLIC__/PICTURE/default_avatar.png" align="{$teacher.name}">
                <else />
                <img class="ca-profile-img" src="__ROOT__/Uploads/{$teacher.avatar}" align="{$teacher.name}">
            </empty>
        </div>
    </div>

    <button type="button" class="btn btn-primary">申请成为咨询师</button>

</div>
<!-- /#page-wrapper -->



<include file="./Template/Admin/Common/teacher/footer.html" />
<include file="./Template/Admin/Common/teacher/foot.html" />