<include file="./Template/Admin/Common/teacher/header.html" />
<include file="./Template/Admin/Common/teacher/nav.html" />

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">我的预约表</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">

        <div class="col-xs-10 col-md-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>姓名</th>
                        <th>时间</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                <volist name="appoint_info" id="vo">
                    <tr>
                        <td>
                            <a href="__APP__/Admin/Teacher/appoint_user/user_id/{$vo.user_account_id}">{$vo.name}</a>
                        </td>
                        <td>{$vo.save_time|date="y-m-d H:i:s",###}</td>
                        <td>
                            <switch name="vo.status" >
                                <case value="0">待确认</case>
                                <case value="1">等待咨询</case>
                                <case value="2">已完成</case>
                            </switch>
                        </td>
                        <td>
                            <a href="__APP__/Admin/Teacher/appoint_details/appoint_id/{$vo.appoint_id}" class="btn btn-primary btn-sm" role="button">预约详情</a>
                        </td>
                    </tr>
                </volist>

                </tbody>
            </table>
        </div>
    </div>

</div>
<!-- /#page-wrapper -->


<include file="./Template/Admin/Common/teacher/footer.html" />

<include file="./Template/Admin/Common/teacher/foot.html" />