<include file="./Template/Admin/Common/teacher/header.html" />
<include file="./Template/Admin/Common/teacher/nav.html" />

<div id="page-wrapper">
    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">预约总揽</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">

            <div class="ca-teacher-time-table">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
                    <!-- Indicators -->
                    <!--<ol class="carousel-indicators">-->
                        <!--<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>-->
                        <!--<li data-target="#carousel-example-generic" data-slide-to="1"></li>-->
                        <!--<li data-target="#carousel-example-generic" data-slide-to="2"></li>-->
                        <!--<li data-target="#carousel-example-generic" data-slide-to="3"></li>-->
                    <!--</ol>-->

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            {$html[0]}
                        </div>
                        <div class="item">
                            {$html[1]}
                        </div>
                        <div class="item">
                            {$html[2]}
                        </div>
                        <div class="item">
                            {$html[3]}
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control ca-carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control ca-carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

            <div class="col-xs-4 col-xs-offset-8">
                <button type="button" class="btn btn-primary btn-block" id="print">打印</button>
            </div>
        </div>
    </div>


</div>
<!-- /#page-wrapper -->


<include file="./Template/Admin/Common/teacher/footer.html" />

<script type="text/javascript">
    // 清空时间表
    $('table td').each(function() {
        $(this).text('');
    });

    // 添加预约者

    $(document).ready(function () {
        var url = '/CareerAssessment/index.php/Admin/TeacherAppoint/appoint_table';
        $.get(url, function(res) {
            var appoint_list = $.parseJSON(res);
            console.log(appoint_list);
            $.each(appoint_list.data, function(key, val) {
                console.log(val.user.name);
                var teacher_confirm_date_array = val.teacher_confirm_date.split(',');

                $.each(teacher_confirm_date_array, function (key2, val2) {
                    $('#'+val2).text(val.user.name);
                    console.log(val2);
                });

            });
        });

        $('#print').click(function () {
            window.print();
        });

    });

</script>


<include file="./Template/Admin/Common/teacher/foot.html" />