<include file="./Template/Admin/Common/teacher/header.html" />
<include file="./Template/Admin/Common/teacher/nav.html" />

<div id="page-wrapper">
    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">修改个人资料</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-xs-10 col-sm-8 col-md-6">
            <form class="form-horizontal" id="teacher-info-panel" action="__APP__/Admin/Teacher/index/" method="post" enctype="multipart/form-data">

                <present name="error">
                    <div class="alert alert-danger" role="alert">{$error}</div>
                </present>

                <present name="message">
                    <br>
                    <div class="alert alert-success" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <p>{$message}</p>
                    </div>
                </present>

                <div class="form-group">
                    <label for="teacher-info-name" class="col-sm-3 control-label">姓名</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="name" id="teacher-info-name" placeholder="请输入您的真实姓名" value="{$teacher.name}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">性别</label>
                    <div class="col-sm-9" id="teacher-info-gender">

                        <switch name="teacher.gender" >
                            <case value="男">
                                <label class="radio-inline">
                                    <input type="radio" name="gender" value="男" checked> 男
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="gender" value="女"> 女
                                </label>
                            </case>
                            <case value="女">
                                <label class="radio-inline">
                                    <input type="radio" name="gender" value="男"> 男
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="gender" value="女" checked> 女
                                </label>
                            </case>
                            <default />
                            <label class="radio-inline">
                                <input type="radio" name="gender" value="男"> 男
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="gender" value="女"> 女
                            </label>
                        </switch>

                    </div>
                </div>
                <div class="form-group">
                    <label for="teacher-info-email" class="col-sm-3 control-label">邮箱</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" name="email" id="teacher-info-email" placeholder="请输入您的邮箱" value="{$teacher.email}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="teacher-index-city" class="col-sm-3 control-label">地点</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="city" id="teacher-index-city" placeholder="请选择您所在城市" value="{$teacher.city}">
                    </div>
                </div>

                <div class="form-group" id="teache-rinfo-form-service-type">
                    <label class="col-sm-3 control-label">服务类型</label>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="service_type_a" value="小学" {$teacher.service_type_a}> 小学
                                        </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="service_type_b" value="初中" {$teacher.service_type_b}> 初中
                                        </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="service_type_c" value="高中" {$teacher.service_type_c}> 高中
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="service_type_d" value="大学及以上" {$teacher.service_type_d}> 大学及以上
                                        </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="service_type_e" value="工作" {$teacher.service_type_e}> 工作
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="teacher-info-name" class="col-sm-3 control-label">个人简介</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" rows="3" name="introduction">{$teacher.introduction}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block" id="singnup-teacherinfo-btn">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<!-- /#page-wrapper -->



<include file="./Template/Admin/Common/teacher/footer.html" />



<script src="__PUBLIC__/custom/js/city-select.js"></script>
<script src="__PUBLIC__/custom/js/upload-preview.js"></script>
<script>
    var test=new Vcity.CitySelector({input:'teacher-index-city'});

    // 控制心理咨询师和生涯规划师的显示和隐藏
    function change_dom() {
        if ($('#box-certificate-a').is(':checked') == true) {
            $('#div-time-a').show();
            $('#div-img-a').show();
        } else {
            $('#div-time-a').hide();
            $('#div-img-a').hide();
        }
        if ($('#box-certificate-b').is(':checked') == true) {
            $('#div-time-b').show();
            $('#div-img-b').show();
        } else {
            $('#div-time-b').hide();
            $('#div-img-b').hide();
        }
    }

    function file_click(){
        var WARP = document.getElementById('teacher-info-panel');
        var WARP_LI = WARP.getElementsByClassName('teacher-info-preview');
        for(var i=0; i<WARP_LI.length;i++){
            new uploadPreview({ UpBtn: "up_img_WU_FILE_"+i, ImgShow: "imgShow_WU_FILE_"+i});
        }
    }
    window.onload = file_click;

</script>


<include file="./Template/Admin/Common/teacher/foot.html" />