<include file="./Template/Admin/Common/header.html" />
<include file="./Template/Admin/Common/nav_teacher.html" />

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">修改密码</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">

        <present name="first">
            <br>
            <div class="alert alert-success" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p>您的用户号是：<strong class="ca-default-usernumber">{$teacher.phone}</strong>
                    ，默认登录密码是：<strong class="ca-default-usernumber">{$teacher.password}</strong></p>
                <p>建议您<a href="__APP__/Admin/Teacher/password">修改密码</a>。</p>
            </div>
        </present>

        <present name="message">
            <br>
            <div class="alert alert-success" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p>{$message}</p>
            </div>
        </present>


        <div class="col-xs-10 col-md-4">
            <form action="__APP__/Admin/Teacher/password" method="post">

                <present name="error">
                    <div class="alert alert-danger" role="alert">{$error}</div>
                </present>

                <div class="form-group">
                    <label for="teacher-password">请输入您的新密码</label>
                    <input type="password" class="form-control" id="teacher-password" name="password" placeholder="请输入您的新密码">
                </div>
                <div class="form-group">
                    <label for="teacher-password-confirm">请再次输入您的新密码</label>
                    <input type="password" class="form-control" id="teacher-password-confirm" name="password_confirm" placeholder="请再次输入您的新密码">
                </div>
                <button type="submit" class="btn btn-primary btn-block">确定</button>
            </form>
        </div>
    </div>

</div>
<!-- /#page-wrapper -->


<include file="./Template/Admin/Common/footer.html" />