<include file="./Template/Admin/Common/teacher/header.html" />
<include file="./Template/Admin/Common/teacher/nav.html" />

<div id="page-wrapper">
    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">我的空闲时间</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div>
                <p class="text-muted">请点击选择您的空闲时间</p>

                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>请点击选择您的空闲(可预约)时间。绿色表示可预约。</strong>
                </div>


                <span>
                    <label>
                        <input type="checkbox" id="time-select-all"> <span class="ca-cursor-point">全选</span>
                    </label>
                </span>
            </div>


            <div class="ca-teacher-time-table">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
                    <!-- Indicators -->
                    <!--<ol class="carousel-indicators">-->
                        <!--<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>-->
                        <!--<li data-target="#carousel-example-generic" data-slide-to="1"></li>-->
                        <!--<li data-target="#carousel-example-generic" data-slide-to="2"></li>-->
                        <!--<li data-target="#carousel-example-generic" data-slide-to="3"></li>-->
                    <!--</ol>-->

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            {$html[0]}
                        </div>
                        <div class="item">
                            {$html[1]}
                        </div>
                        <div class="item">
                            {$html[2]}
                        </div>
                        <div class="item">
                            {$html[3]}
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control ca-carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control ca-carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

            <div class="col-xs-4 col-xs-offset-8">
                <button type="button" class="btn btn-primary btn-block" id="time-button" url="{$save_time_url}">保存</button>
            </div>
        </div>
    </div>

    <!-- 隐藏元素，用来保存可预约时间与预约表 -->
    <div class="ca-hide">
        <div id="time-free-time">{$teacher.free_time}</div>
    </div>

</div>
<!-- /#page-wrapper -->



<!-- Modal -->
<div class="modal fade" id="message" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3 id="body-content"></h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">确认</button>
            </div>
        </div>
    </div>
</div>


<include file="./Template/Admin/Common/teacher/footer.html" />

<script type="text/javascript" src="__PUBLIC__/custom/js/admin.js"></script>

<include file="./Template/Admin/Common/teacher/foot.html" />