<include file="./Template/Admin/Common/teacher/header.html" />
<include file="./Template/Admin/Common/teacher/nav.html" />

<div id="page-wrapper">
    <div class="row">

        <present name="first">
            <br>
            <div class="alert alert-success" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p>您的用户号是：<strong class="ca-default-usernumber">{$teacher.phone}</strong>
                    ，默认登录密码是：<strong class="ca-default-usernumber">{$teacher.password}</strong></p>
                <p>建议您<a href="__APP__/Admin/Teacher/password">修改密码</a>。</p>
            </div>
        </present>

        <div class="col-lg-12">
            <h1 class="page-header">我的空闲时间</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">

            <div>
                <p class="text-muted">请点击选择您的空闲时间</p>
                <span>
                    <label>
                        <input type="checkbox" id="time-select-all"> <span class="ca-cursor-point">全选</span>
                    </label>
                </span>
            </div>
            <div>
                {$html}
            </div>

            <button type="button" class="btn btn-primary" id="time-button" url="{$save_time_url}">保存</button>
        </div>
    </div>

    <!-- 隐藏元素，用来保存可预约时间与预约表 -->
    <div class="ca-hide">
        <div id="time-free-time">{$teacher.free_time}</div>
    </div>

</div>
<!-- /#page-wrapper -->


<include file="./Template/Admin/Common/teacher/footer.html" />

<script type="text/javascript" src="__PUBLIC__/custom/js/admin.js"></script>

<include file="./Template/Admin/Common/teacher/foot.html" />