<include file="./Template/Public/header.html" />
<include file="./Template/Public/navbar.html" />


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-10 col-sm-6 col-md-4 col-xs-offset-1 col-sm-offset-3 col-md-offset-4">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">完善信息</h3>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="info-teacher-name">姓名</label>
                            <input type="text" class="form-control" id="info-teacher-name" placeholder="请输入您的真实姓名">
                        </div>
                        <div class="form-group">
                            <label for="info-teacher-email">邮箱</label>
                            <input type="email" class="form-control" id="info-teacher-email" placeholder="请输入您的邮箱">
                        </div>
                        <div class="form-group">
                            <label for="info-teacher-email">城市</label>
                            <input type="text" class="form-control" id="info-teacher-email" placeholder="请输入您的邮箱">
                        </div>
                        <div class="form-group">
                            <label for="info-teacher-email">头像</label>
                            <input type="email" class="form-control" id="info-teacher-email" placeholder="请输入您的邮箱">
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-12">
                                    <strong>性别</strong>
                                </div>
                                <div class="col-xs-4">
                                    <label class="radio-inline">
                                        <input type="radio" id="info-teacher-gender-1" value="男"> 男
                                    </label>
                                </div>
                                <div class="col-xs-4">
                                    <label class="radio-inline">
                                        <input type="radio" id="info-teacher-gender-2" value="女"> 女
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-12">
                                    <strong>已取得资质证书</strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="1"> 心理咨询师
                                    </label>
                                </div>
                                <div class="col-xs-4">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="2"> 生涯规划师
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-12">
                                    <strong>服务类型</strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="1"> 高中
                                    </label>
                                </div>
                                <div class="col-xs-4">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="2"> 大学
                                    </label>
                                </div>
                                <div class="col-xs-4">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="2"> 工作
                                    </label>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary btn-block" id="info-user-btn" url="__APP__/Home/Signup/signup_teacherinfo">确定</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


<include file="./Template/Public/footer.html" />