<include file="./Template/Public/header.html" />
<include file="./Template/Public/navbar.html" />


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-10 col-sm-6 col-md-4 col-xs-offset-1 col-sm-offset-3 col-md-offset-4">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">完善信息</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" id="signup-userinfo-panel">
                        <div class="alert alert-danger ca-wrong-message" role="alert"></div>
                        <div class="form-group">
                            <label for="signup-userinfo-name" class="col-sm-3 control-label">姓名</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="signup-userinfo-name" placeholder="请输入您的真实姓名">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">性别</label>
                            <div class="col-sm-9" id="signup-userinfo-gender">
                                <label class="radio-inline">
                                    <input type="radio" name="signup-userinfo-gender" id="signup-userinfo-man" value="1"> 男
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="signup-userinfo-gender" id="signup-userinfo-woman" value="2"> 女
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="signup-userinfo-email" class="col-sm-3 control-label">邮箱</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" id="signup-userinfo-email" placeholder="请输入您的邮箱">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="signup-userinfo-city" class="col-sm-3 control-label">地点</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="signup-userinfo-city" placeholder="请选择您所在城市">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">当前状态</label>
                            <div class="col-sm-9" id="signup-userinfo-status">
                                <label class="radio-inline">
                                    <input type="radio" name="signup-status" id="signup-userinfo-senior" value="1"> 高中
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="signup-status" id="signup-userinfo-university" value="2"> 大学
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="signup-status" id="signup-userinfo-work" value="30"> 工作
                                </label>
                            </div>
                        </div>
                        <div class="form-group ca-signup-hide ca-signup-choose-form" id="singnup-userinfo-form-school">
                            <label for="signup-userinfo-school" class="col-sm-3 control-label">学校</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="signup-userinfo-school" placeholder="请输入您的当前学校名称">
                            </div>
                        </div>
                        <div class="form-group ca-signup-hide ca-signup-choose-form" id="singnup-userinfo-form-college">
                            <label for="signup-userinfo-college" class="col-sm-3 control-label">专业</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="signup-userinfo-college" placeholder="请输入您的专业">
                            </div>
                        </div>
                        <div class="form-group ca-signup-hide ca-signup-choose-form" id="singnup-userinfo-form-student-type">
                            <label for="signup-userinfo-student-type" class="col-sm-3 control-label">考生类型</label>
                            <div class="col-sm-9">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" id="signup-userinfo-student-type-1" name="singnup-userinfo-student-type" value="1"> 艺体生
                                        </label>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" id="signup-userinfo-student-type-2" name="singnup-userinfo-student-type" value="1"> 少数名族考生
                                        </label>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" id="signup-userinfo-student-type-3" name="singnup-userinfo-student-type" value="1"> 国家专项计划
                                        </label>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" id="signup-userinfo-student-type-4" name="singnup-userinfo-student-type" value="1"> 军校或国防生
                                        </label>
                                    </div>
                                    <div class="col-sm-12">
                                        <small class="ca-small-tips">都不是则不选</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ca-signup-hide ca-signup-choose-form" id="singnup-userinfo-form-work">
                            <label class="col-sm-3 control-label">工作年限</label>
                            <div class="col-sm-9" id="singnup-userinfo-worktime">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label class="radio-inline">
                                            <input type="radio" name="signup-userinfo-worktime" id="signup-userinfo-work-1" value="3"> 未满1年
                                        </label>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="radio-inline">
                                            <input type="radio" name="signup-userinfo-worktime" id="signup-userinfo-work-2" value="4"> 1-3年
                                        </label>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="radio-inline">
                                            <input type="radio" name="signup-userinfo-worktime" id="signup-userinfo-work-3" value="5"> 3-5年
                                        </label>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="radio-inline">
                                            <input type="radio" name="signup-userinfo-worktime" id="signup-userinfo-work-4" value="6"> 5年以上
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="button" class="btn btn-primary btn-block" id="singnup-userinfo-btn" url="__APP__/Home/Signup/signup_userinfo">完成</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="__PUBLIC__/custom/js/city-select.js"></script>
<script>
    var test=new Vcity.CitySelector({input:'signup-userinfo-city'});
</script>
<include file="./Template/Public/footer.html" />