<include file="./Template/Admin/Common/user/header.html" />
<include file="./Template/Admin/Common/user/nav.html" />

<div id="page-wrapper">
    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">我的预约表</h1>
        </div>

        <div class="col-xs-10">
            <p>预约咨询步骤：</p>
            <p>来访者选择预约时间 -> 咨询师确认预约时间 -> 来访者再次确认预约时间 -> 咨询 -> 咨询师确认咨询完成</p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>咨询师头像</th>
                        <th>咨询师姓名</th>
                        <th>预约状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                <volist name="appoint_info" id="vo">
                    <tr>
                        <td>
                            <img class="ca-appoint-list-avatar" src="__ROOT__/Uploads/{$vo.avatar}" alt="{$vo.name}">
                        </td>
                        <td>{$vo.name}</td>
                        <td>
                            <switch name="vo.status" >
                                <case value="0">待咨询师确认</case>
                                <case value="1">等待咨询</case>
                                <case value="2">已完成</case>
                            </switch>
                        </td>
                        <td>
                            <switch name="vo.status" >
                                <case value="0">
                                    <a href="__APP__/Admin/User/appoint_details/appoint_id/{$vo.appoint_id}" class="btn btn-primary btn-sm" role="button">详情</a>
                                    <a href="__APP__/Admin/User/appoint_change/appoint_id/{$vo.appoint_id}" class="btn btn-primary btn-sm" role="button">修改</a>
                                    <a href="__APP__/Admin/User/appoint_delete/appoint_id/{$vo.appoint_id}" class="btn btn-default btn-sm" role="button">删除</a>
                                </case>
                                <default />
                                    <a href="__APP__/Admin/User/appoint_details/appoint_id/{$vo.appoint_id}" class="btn btn-primary btn-sm" role="button">详情</a>
                                    <a href="#" class="btn btn-primary btn-sm" role="button" disabled>修改</a>
                                    <a href="#" class="btn btn-default btn-sm" role="button" disabled>删除</a>
                            </switch>



                        </td>
                    </tr>
                </volist>
                </tbody>
            </table>
        </div>

    </div>
</div>






<include file="./Template/Admin/Common/user/footer.html" />

<include file="./Template/Admin/Common/user/foot.html" />