<include file="./Template/Admin/Common/user/header.html" />
<include file="./Template/Admin/Common/user/nav.html" />




<div id="page-wrapper">
    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">预约详情</h1>
        </div>


        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-10 col-sm-4 col-xs-offset-1 col-sm-offset-0">
                    <div class="thumbnail">
                        <img src="__ROOT__/Uploads/{$appoint_info.teacher.avatar}" alt="{$appoint_info.teacher.name}">
                        <div class="caption">
                            <h4>{$appoint_info.teacher.name} <small> {$appoint_info.teacher.city}</small></h4>
                            <p>
                                <small>专业程度 {$appoint_info.professional_score}</small>
                                <br>
                                <small>服务态度 {$appoint_info.attitude_score}</small>
                            </p>
                            <p>
                                {$appoint_info.teacher.introduction}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-10 col-sm-8 col-xs-offset-1 col-sm-offset-0">
                    {$html}
                </div>


                <div class="row">
                    <div class="col-sm-6 col-sm-offset-6">
                        <button type="button" class="form-control btn-primary ca-hide" id="btn-confirm"> 确认时间</button>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>



<include file="./Template/Admin/Common/user/footer.html" />

<script type="text/javascript">
    $(document).ready(function () {

        initialize();

        /**
         * 页面初始化
         */
        function initialize() {
            appoint_time_inilialize();
            click_to_confirm_appoint();
            confirm_time();
        }


        /**
         * 预约时间表初始化
         */

        function appoint_time_inilialize() {

            var user_select_date = '{$appoint_info.appoint.user_select_date}';
            var user_select_date_array = user_select_date.split(',');

            var teacher_confirm_date = '{$appoint_info.appoint.teacher_confirm_date}';
            var teacher_confirm_date_array = teacher_confirm_date.split(',');

            var user_confirm_date = '{$appoint_info.appoint.user_confirm_date}';
            var user_confirm_date_array = user_confirm_date.split(',');

            var appoint_status = '{$appoint_info.appoint.status}';
            $caTd = $('td');
            console.log(appoint_status);
            console.log(user_select_date_array);
            console.log(user_confirm_date_array);
            console.log(teacher_confirm_date_array);

            if (appoint_status == 0) {
                $caTd.each(function () {
                    for (var i in user_select_date_array) {
                        if ($(this).attr('value') == user_select_date_array[i]) {
                            $(this).addClass('ca-appoint');
                        }
                    }
                    $(this).text('').removeClass('ca-no-free-time');
                });
                $('#btn-change').removeClass('ca-hide');

            } else if (appoint_status == 1) {
                $caTd.each(function () {
                    $(this).text('').removeClass('ca-no-free-time');
                    for (var i in teacher_confirm_date_array) {
                        if ($(this).attr('value') == teacher_confirm_date_array[i]) {
                            $(this).addClass('ca-appoint');
                            $(this).text('点击确认');
                        }
                    }
                });
                $('#btn-confirm').removeClass('ca-hide');


            } else if (appoint_status == 2) {
                $caTd.each(function () {
                    $(this).text('').removeClass('ca-no-free-time');
                    for (var i in user_confirm_date_array) {
                        if ($(this).attr('value') == user_confirm_date_array[i]) {
                            $(this).addClass('ca-appoint-confirm');
                            $(this).text('等待咨询');
                        }
                    }
                });

            } else if (appoint_status == 3) {
                $caTd.each(function () {
                    $(this).text('').removeClass('ca-no-free-time');
                    for (var i in user_confirm_date_array) {
                        if ($(this).attr('value') == user_confirm_date_array[i]) {
                            $(this).addClass('ca-appoint-finish');
                            $(this).text('已完成');
                        }
                    }
                });
            }
        }


        /**
         * 确定预约时间
         */
        function click_to_confirm_appoint() {
            $('.ca-appoint').click(function () {
//               $('.ca-appoint').each(function () {
//                 $(this).text('').removeClass('ca-appoint-confirm');
//               });
                var text = $(this).text();

                if (text == '点击确认') {
                    $(this).text('选定为咨询定时间').addClass('ca-appoint-confirm');
                } else {
                    $(this).text('点击确认').removeClass('ca-appoint-confirm');
                }
            });
        }


        /**
         * 确认预约时间
         */
        function confirm_time() {
            var data = {};
            data.appoint_id = '{$appoint_info.appoint.appoint_id}';
            var url = '{$appoint_confirm_url}';
            console.log(url);
            $('#btn-confirm').click(function () {
                var time = '';
                $('.ca-appoint-confirm').each(function () {
                    time += $(this).attr('value') + ',';
                });
                console.log(time.substring(0, time.length - 1));
                data.time = time.substring(0, time.length - 1);
                console.log(url);

                $.post(url, data, function (res) {
                    //console.log(res);
                    if (res.status == 0) {
                        alert('确认时间成功！');
                        location.reload();
                    } else {
                        alert('确认失败，请重试');
                        location.reload();
                    }
                });
            });
        }

    });


</script>

<include file="./Template/Admin/Common/user/foot.html" />
