<include file="./Template/Admin/Common/user/header.html" />
<include file="./Template/Admin/Common/user/nav.html" />

<div id="page-wrapper">

    <div class="row">

        <div class="col-lg-12">
            <div class="row">

                <div class="col-lg-12">
                    <h1 class="page-header">预约钱包</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <p>
                    可用余额：{$user.coin}
                </p>
                <button class="btn btn-primary btn-sm">使用详情</button>
            </div>
        </div>


        <div class="col-lg-12">
            <div class="row">

                <div class="col-lg-12">
                    <h1 class="page-header">支付钱包</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <p>
                    可用余额：0
                </p>
                <button class="btn btn-primary btn-sm">使用详情</button>
            </div>
        </div>

    </div>
</div>
<!-- /#page-wrapper -->


<include file="./Template/Admin/Common/user/footer.html" />

<include file="./Template/Admin/Common/user/foot.html" />