<include file="./Template/Admin/Common/user/header.html" />
<include file="./Template/Admin/Common/user/nav.html" />


<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">修改个人资料</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">

        <div class="col-xs-10 col-md-8">
            <form class="form-horizontal" id="signup-userinfo-panel" action="__APP__/Admin/User/profile" method="post">

                <present name="error">
                    <div class="alert alert-danger" role="alert">{$error}</div>
                </present>

                <present name="message">
                    <br>
                    <div class="alert alert-success" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <p>{$message}</p>
                    </div>
                </present>

                <div class="form-group">
                    <label for="pforile-name" class="col-sm-3 control-label">姓名</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="name" id="pforile-name" placeholder="请输入您的真实姓名" value="{$user.name}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">性别</label>
                    <div class="col-sm-9">
                        <switch name="user.gender">
                            <case value="男">
                                <label class="radio-inline">
                                    <input type="radio" name="gender" value="男" checked> 男
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="gender" value="女"> 女
                                </label>
                            </case>
                            <case value="女">
                                <label class="radio-inline">
                                    <input type="radio" name="gender" value="男"> 男
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="gender" value="女" checked> 女
                                </label>
                            </case>
                            <default />
                                <label class="radio-inline">
                                    <input type="radio" name="gender" value="男" checked> 男
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="gender" value="女"> 女
                                </label>
                        </switch>
                    </div>
                </div>

                <div class="form-group">
                    <label for="pforile-email" class="col-sm-3 control-label">邮箱</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" name="email" id="pforile-email" placeholder="请输入您的邮箱" value="{$user.email}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="profile-city" class="col-sm-3 control-label">地点</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="city" id="profile-city" placeholder="请选择您所在城市" value="{$user.city}">
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-3 control-label">当前状态</label>
                    <div class="col-sm-9">
                        <ul id="myTab" class="nav nav-tabs">
                            <input class="ca-hide" id="profile-test-status" name="test_status" value="小学">

                        <switch name="user.status">
                            <case value="小学">
                                <li class="active"><a href="#profile-primary" data-toggle="tab">小学</a></li>
                                <li><a href="#profile-junior" data-toggle="tab">初中</a></li>
                                <li><a href="#profile-senior" data-toggle="tab">高中</a></li>
                                <li><a href="#profile-university" data-toggle="tab">大学及以上</a></li>
                                <li><a href="#profile-work" data-toggle="tab">工作</a></li>
                            </case>
                            <case value="初中">
                                <li><a href="#profile-primary" data-toggle="tab">小学</a></li>
                                <li class="active"><a href="#profile-junior" data-toggle="tab">初中</a></li>
                                <li><a href="#profile-senior" data-toggle="tab">高中</a></li>
                                <li><a href="#profile-university" data-toggle="tab">大学及以上</a></li>
                                <li><a href="#profile-work" data-toggle="tab">工作</a></li>
                            </case>
                            <case value="高中">
                                <li><a href="#profile-primary" data-toggle="tab">小学</a></li>
                                <li><a href="#profile-junior" data-toggle="tab">初中</a></li>
                                <li class="active"><a href="#profile-senior" data-toggle="tab">高中</a></li>
                                <li><a href="#profile-university" data-toggle="tab">大学及以上</a></li>
                                <li><a href="#profile-work" data-toggle="tab">工作</a></li>
                            </case>
                            <case value="大学及以上">
                                <li><a href="#profile-primary" data-toggle="tab">小学</a></li>
                                <li><a href="#profile-junior" data-toggle="tab">初中</a></li>
                                <li><a href="#profile-senior" data-toggle="tab">高中</a></li>
                                <li class="active"><a href="#profile-university" data-toggle="tab">大学及以上</a></li>
                                <li><a href="#profile-work" data-toggle="tab">工作</a></li>
                            </case>
                            <case value="工作未满1年|工作1至3年|工作3至5年|工作5年以上">
                                <li><a href="#profile-primary" data-toggle="tab">小学</a></li>
                                <li><a href="#profile-junior" data-toggle="tab">初中</a></li>
                                <li><a href="#profile-senior" data-toggle="tab">高中</a></li>
                                <li><a href="#profile-university" data-toggle="tab">大学及以上</a></li>
                                <li class="active"><a href="#profile-work" data-toggle="tab">工作</a></li>
                            </case>
                            <default />
                                <li class="active"><a href="#profile-primary" data-toggle="tab">小学</a></li>
                                <li><a href="#profile-junior" data-toggle="tab">初中</a></li>
                                <li><a href="#profile-senior" data-toggle="tab">高中</a></li>
                                <li><a href="#profile-university" data-toggle="tab">大学及以上</a></li>
                                <li><a href="#profile-work" data-toggle="tab">工作</a></li>
                        </switch>
                        </ul>

                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade in active" id="profile-primary">
                                <p>
                                    <br>
                                    <input type="text" class="form-control" name="school_primary" placeholder="请输入您的当前学校名称" value="{$user.school}">
                                </p>
                            </div>

                            <div class="tab-pane fade" id="profile-junior">
                                <p>
                                    <br>
                                    <input type="text" class="form-control" name="school_junior" placeholder="请输入您的当前学校名称" value="{$user.school}">
                                </p>
                            </div>

                            <div class="tab-pane fade" id="profile-senior">
                                <p>
                                    <br>
                                    <input type="text" class="form-control" name="school_senior" placeholder="请输入您的当前学校名称" value="{$user.school}">
                                    <br>
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" name="type_1" value="艺体生" {$user.type_1}> 艺体生
                                                </label>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" name="type_2" value="少数名族考生" {$user.type_2}> 少数名族考生
                                                </label>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" name="type_3" value="国家专项计划" {$user.type_3}>国家专项计划
                                                </label>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" name="type_4" {$user.type_4}> 军校或国防生
                                                </label>
                                            </div>
                                            <div class="col-sm-12">
                                                <small class="ca-small-tips">{$user.student.type}</small>
                                            </div>
                                        </div>
                                    </div>
                                </p>
                            </div>

                            <div class="tab-pane fade" id="profile-university">
                                <p>
                                    <br>
                                    <input type="text" class="form-control" name="school_university" id="signup-userinfo-school" placeholder="请输入您的当前学校名称" value="{$user.school}">
                                    <br>
                                    <input type="text" class="form-control" name="college" id="signup-userinfo-college" placeholder="请输入您的专业" value="{$user.college}">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" name="type_1" value="艺体生" {$user.type_1}> 艺体生
                                                </label>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" name="type_2" value="少数名族考生" {$user.type_2}> 少数名族考生
                                                </label>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" name="type_3" value="国家专项计划" {$user.type_3}> 国家专项计划
                                                </label>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" name="type_4" value="军校或国防生" {$user.type_4}> 军校或国防生
                                                </label>
                                            </div>
                                            <div class="col-sm-12">
                                                <small class="ca-small-tips">{$user.student.type}</small>
                                            </div>
                                        </div>
                                    </div>
                                </p>
                            </div>

                            <div class="tab-pane fade" id="profile-work">
                                <p>
                                    <div class="col-sm-6">
                                        <label class="radio-inline">
                                            <input type="radio" name="status" value="工作未满1年"> 工作未满1年
                                        </label>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="radio-inline">
                                            <input type="radio" name="status" value="工作1至3年"> 工作1至3年
                                        </label>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="radio-inline">
                                            <input type="radio" name="status" value="工作1至3年"> 工作1至3年
                                        </label>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="radio-inline">
                                            <input type="radio" name="status" value="工作5年以上"> 工作5年以上
                                        </label>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">确认修改</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<!-- /#page-wrapper -->


<include file="./Template/Admin/Common/user/footer.html" />

<script src="__PUBLIC__/custom/js/city-select.js"></script>
<script>
    var test=new Vcity.CitySelector({input:'profile-city'});

    $('#myTab li').click(function () {
       var val = $(this).text();
        $('#profile-test-status').attr('value', val);

    });


//
//    // 初始化页面的显示和隐藏
//    if ($('#profile-senior').is(':checked') == true) {
//        show_senior();
//    }
//
//    if ($('#profile-university').is(':checked') == true) {
//        show_university();
//    }
//
//    if ($('#profile-work').is(':checked') == true) {
//        show_work();
//    }
//
//    // 显示更多信息-高中
//    $('#profile-senior').click(function () {
//        show_senior();
//    });
//
//
//    // 显示更多信息-大学
//    $('#profile-university').click(function () {
//        show_university();
//    });
//
//
//    // 显示更多信息-工作
//    $('#profile-work').click(function () {
//        show_work();
//    });
//
//
//    /**
//     * 显示更多信息-高中
//     */
//    function show_senior() {
//        $('.ca-signup-choose-form').addClass('ca-signup-hide');
//        $('#singnup-userinfo-form-school').removeClass('ca-signup-hide');
//        $('#singnup-userinfo-form-student-type').removeClass('ca-signup-hide');
//    }
//
//
//    /**
//     * 显示更多信息-大学
//     */
//    function show_university() {
//        $('.ca-signup-choose-form').addClass('ca-signup-hide');
//        $('#singnup-userinfo-form-school').removeClass('ca-signup-hide');
//        $('#singnup-userinfo-form-college').removeClass('ca-signup-hide');
//        $('#singnup-userinfo-form-student-type').removeClass('ca-signup-hide');
//    }
//
//
//    /**
//     * 显示更多信息-工作
//     */
//    function show_work() {
//        $('.ca-signup-choose-form').addClass('ca-signup-hide');
//        $('#singnup-userinfo-form-work').removeClass('ca-signup-hide');
//    }

</script>



<include file="./Template/Admin/Common/user/foot.html" />